@model Lakeside.Models.ViewModels.ViewFilmVM

@using (Html.BeginForm("ViewFilm", "Film", FormMethod.Post))
{

    // For the film model, display information
    <div class="row">
        <div class="col-md-2 center">
            <img src="~/content/images/films/@Model.selectedfilm.Imagefile" style="xxxx" class="filmlist-image-film" />
        </div>

    </div>


    // For each review, display


}